/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
min-height: 100vh;
  background-color: #06587ce6 ;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.col-3 {
  width: 25px;
  padding: 15px;
}

.list-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.backdrop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.swiper-box {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;

}

.backdrop-img::before {
  content: '';
  position: absolute;
  width: 100%;

  background-color: #000000a6;
  border-radius: 5px;

}

.box {
  height: 100% ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*justify-content: space-between;*/

}

.box h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;

}

.carouser-sticker {
  max-width: 400px;
  position: absolute;
  bottom: 30px;
  left: 20px;

}

.carouser-sticker h3 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.carouser-sticker p {
  width: 100%;
  height: 100px;

}

.inner-wrapper {
  display: flex;
  margin: auto;
  height: 20px;

}

